.Home {
    display: flex;
}

.Home-component {
    width: 100%;
    height: 100vh;
    padding: 12px;
    overflow-y: auto;
}

.Home-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px;
    zoom: 0.5;
}