.main__message {
    margin-bottom: 12px;
}

hr {
    border: 0;
    height: 1px;
    background: green;
}

strong {
    color: green;
}

.main__anthropometry {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
    border: 1px solid #cecece;
    border-radius: 8px;
    width: 410px;
    align-items: center;
    background-color: #fcfcfc;
}

.main__anthropometry-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.main__anthropometry-btn {
    display: flex;
    justify-content: center;
}

.main__anthropometry-input {
    width: 300px;
}

.main__anthropometry-input .ant-input-number {
    width: 300px;
}