.main__message {
    margin-bottom: 12px;
}

hr {
    border: 0;
    height: 1px;
    background: green;
}

strong {
    color: green;
}

.main__anthropometry {
    padding: 12px;
    width: 100%;
}

.main__anthropometry-btn {
    display: flex;
    justify-content: center;
}

.main__anthropometry-input {
    width: 100%;
}

.main__anthropometry-input .ant-input-number {
    width: 100%;
}

.main__forms {
    display: flex;
}

.main__forms .ant-collapse-content-box {
    background-color: #fefefe;
}

.main__setting-forms {
    width: 30%;
    margin-right: 16px;
}

.main__user-recommendations {
    width: 50%;
}

@media (max-width: 1200px) {
    .main__setting-forms {
        width: 50%;
    }
    .main__user-recommendations {
        width: 50%;
    }
}

@media (max-width: 750px) {
    .main__forms {
        flex-direction: column;
    }
    .main__setting-forms {
        width: 100%;
        margin-right: 0px;
    }
    .main__user-recommendations {
        width: 100%;
    }
}