.ant-menu.ant-menu-inline-collapsed {
    width: 64px !important;
}

.ant-menu-item {
    margin: 0 !important;
}

.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light.ant-menu-inline-collapsed {
    height: 100vh;
}

.App__content {
    display: flex;
}

.App__content-component {
    width: 100%;
    height: 100vh;
    padding: 12px;
    overflow-y: auto;
}

.App {
    font-family: Arial;
    color: #000;
}

.App__content-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px;
    zoom: 0.5;
}